spring:
  application:
    name: auth-user-service
  datasource:
    url: jdbc:postgresql://${AUTH_USER_DB_HOST}:${AUTH_USER_DB_PORT}/${AUTH_USER_DB_NAME}
    username: ${AUTH_USER_DB_USER}
    password: ${AUTH_USER_DB_PASSWORD}